 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

@media screen  and (max-width: 480px) {
    
h1 {
    font-weight: 400;
    margin-left: 2vw;
}

.header, .form {
    width: 90vw;
    margin:auto;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4%;
    margin-top: 4vw;
    margin-bottom: 4%;
}

#input-field, #add-button, #filter-field, li div{
    display: block;
    margin-bottom: 4vw; 
    box-sizing: border-box;
}

#input-field, #filter-field, li div{

    width: 100%;
    padding: 4vw 2vw;
}

#input-field {
    height: 10vw;
    border: 1px solid gray;
    border-radius: 2vw;
    background-color: white;
}

#filter-field {
    height: 10vw;
    outline: 0;
    border: none;
    border-bottom: 1px solid gray;
}

#add-button {
    color: white;
    background-color: black;
    padding: 8px 20px;
    border-radius: .5vh;
}

li {
    list-style: none;
}

.item{
    border: 1px gray solid;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

li p {
    font-weight: 700;
}

.delete-button {
    width: 4vw;
    display: hidden;
}

#clear-button { 
    border: 1px solid gray;
    border-radius: 1vw;
    padding: 2%;
    width: 90vw;
    height: 12vw;
}
}
